<div class="top-side">
  <h1>BLEACHDLE</h1>
  <p>Devinez le personnage du jour !</p>
</div>

<div class="container">
  <app-search-bar
    [concernedCharacters]="characters"
    (chosenCharacter)="onCharacterSelected($event)">
  </app-search-bar>

<div *ngIf="!isFind; else finded">
  <table *ngIf="selectedCharacters.length > 0 ">
    <tr>
      <th *ngFor="let attribute of attributesFormatted">
        {{ attribute }}
        </th>
    </tr>
    <tr *ngFor="let selectedCharacter of selectedCharacters">
      <td id="image">
        <img [src]="selectedCharacter.image + '.jpg'"  [alt]=selectedCharacter.id height="80px" width="80px">
      </td>
      <td [ngClass]="getAttributeStatus(selectedCharacter.name || '', characterToGuess.name || '')">
        <p>{{ selectedCharacter.name }}</p>
      </td>
      <td [ngClass]="getAttributeStatus(selectedCharacter.gender || '', characterToGuess.gender || '')">
        <p>{{ selectedCharacter.gender }}</p>
      </td>
      <td [ngClass]="getAttributeStatus(selectedCharacter.affiliations || '', characterToGuess.affiliations || '')">
        <p>{{ selectedCharacter.affiliations }}</p>
      </td>
      <td [ngClass]="getAttributeStatus(selectedCharacter.race || '', characterToGuess.race || '')">
        <p>{{ selectedCharacter.race }}</p>
      </td>
      <td [ngClass]="getAttributeStatus(selectedCharacter.attributes || '', characterToGuess.attributes || '')">
        <p>{{ selectedCharacter.attributes }}</p>
      </td>
      <td [ngClass]="getAttributeStatus(selectedCharacter.hierarchy || '', characterToGuess.hierarchy || '')">
        <p>{{ selectedCharacter.hierarchy }}</p>
      </td>
      <td [ngClass]="getAttributeStatus(selectedCharacter.introduction_arc || '', characterToGuess.introduction_arc || '')">
        <p>{{ selectedCharacter.introduction_arc }}</p>
      </td>
    </tr>
  </table>
</div>

  <ng-template #finded>
    Bravo, vous avez trouvé le personnage du jour qui était : {{ characterToGuess.name}} !
    <a routerLink="/bankai">BANKAI</a>
  </ng-template>

</div>


