<table *ngFor="let character of characters">
  <tr>
    <td>
      <h2>Nom: {{ character.name }}</h2>
    </td>
    <td>
      <p>Genre: {{ character.gender }}</p>
    </td>
    <td>
      <p>Age: {{ character.age }}</p>
    </td>
    <td>
      <p>Affiliation: {{ character.affiliation }}</p>
    </td>
    <td>
      <p>Race: {{ character.race}}</p>
    </td>
    <td>
      <p>Forme évolutive: {{ character.evolutive_forms }}</p>
    </td>
    <td>
      <p>Rang: {{ character.rank }}</p>
    </td>
    <td>
      <p>Arc d'introduction: {{ character.introduction_arc }}</p>
    </td>
  </tr>
</table>
