<div class="container">
  <button class="panel-btn" (click)="showAge()" [disabled]="!isAgeAvailable" id="btn-indice-age">
    <p-panel class="panel-content">
      <ng-container *ngIf="hasClickedAge; else ageIndice">
        <p>Age du personnage : {{ characterAge }}</p>
      </ng-container>
      <ng-template #ageIndice>
        <p>
          {{ remainingAgeTries === 0 ? 'Indice de l\'âge disponible' : 'Indice de l\'âge dans ' + remainingAgeTries + ' essais' }}
        </p>
      </ng-template>
    </p-panel>
  </button>

  <button class="panel-btn" (click)="showPortrait()" [disabled]="!isPortraitAvailable" id="btn-indice-img">
    <p-panel class="panel-content">
      <ng-container *ngIf="hasClickedPortrait; else portraitIndice">
        <img
          [src]="characterImg + '.jpg'"
          alt="pas de portrait"
          class="portrait" />
      </ng-container>
      <ng-template #portraitIndice>
        <p>
          {{ remainingPortraitTries === 0 ? 'Indice de portrait disponible' : 'Indice de portrait flouté dans ' + remainingPortraitTries + ' essais' }}
        </p>
      </ng-template>
    </p-panel>
  </button>
</div>
