<div class="landing-wrapper">

  <div class="header-container">
    <h1>BLEACHDLE</h1>
    <p>DEVINE LES PERSONNAGES DE BLEACH</p>
  </div>

  <div class="cards-container">

    <a routerLink="/classic">
      <img src="./assets/img/classic-mode-img.png">
    </a>

    <a routerLink="/bankai" >
      <img src="./assets/img/bankai-mode-img.png">
    </a>

    <a routerLink="/quotes" >
      <img src="./assets/img/citation-mode-img.png">
    </a>

    <a routerLink="/techniques">
      <img src="./assets/img/technique-mode-img.png">
    </a>

  </div>

</div>
