<div class="glass-container game-wrapper">
  <div class="top-side">
    <h1>CITATIONS</h1>
    <p>Qui a dit cette phrase ?</p>
    <div class="clue-box glass-container">
      <h2>"{{ quoteToGuess?.contenu}}"</h2>
    </div>
  </div>

  <div class="content-container">
    <app-search-bar [concernedCharacters]="characters" (chosenCharacter)="onCharacterSelected($event)">
    </app-search-bar>

    <div *ngIf="!isFind; else finded" class="results-area">
      <table *ngIf="selectedCharacters.length > 0 " class="results-table">
        <tbody>
          <tr *ngFor="let selectedCharacter of selectedCharacters">
            <td [ngClass]="getAttributeStatus(selectedCharacter)" class="result-cell">
              {{ selectedCharacter.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #finded>
      <div class="success-message">
        <h2>Bravo !</h2>
        <p>Cette citation est de : <strong>{{ quoteToGuess.personnage.name}}</strong></p>
        <a routerLink="/techniques" class="btn-glass">Mode TECHNIQUES &rarr;</a>
      </div>
    </ng-template>

  </div>
</div>