<div class="top-side">
  <h1>BLEACHDLE</h1>
  <p>Devinez la citations du jour !</p>
  <p-panel>
    <div *ngIf="techniqueToGuess.gif_url">
      <img
        [src]="techniqueToGuess.gif_url + '.gif'"
        [alt]="techniqueToGuess.nom">
    </div>

    <div *ngIf="!techniqueToGuess">
      Chargement de la technique...
    </div>
  </p-panel>

</div>

<div class="container">
  <app-search-bar
    [concernedCharacters]="characters"
    (chosenCharacter)="onCharacterSelected($event)">
  </app-search-bar>

  <div *ngIf="!isFind; else finded">
    <table *ngIf="selectedCharacters.length > 0 ">
      <tr *ngFor="let selectedCharacter of selectedCharacters">
        <td [ngClass]="getAttributeStatus(selectedCharacter)">
          {{ selectedCharacter.name}}
        </td>
      </tr>
    </table>
  </div>

  <ng-template #finded>
    Bravo, vous avez trouvé le personnage de la technique du jour: {{ techniqueToGuess.personnage.name}} !
  </ng-template>

</div>
